<div class='page dashboard-page current-page'>
    <div class='dashboard-card w-100'>
        <div class='dashboard-chart-container'>
            <canvas class="myChart"></canvas>
        </div>
    </div>
    <div class='dashboard-card w-50'>
        <div class='dashboard-chart-container'>
            <canvas class="myChart"></canvas>
        </div>
    </div>
    <div class='dashboard-card w-50'>
        <div class='dashboard-chart-container'>
            <canvas class="myChart"></canvas>
        </div>
    </div>
    <div class='dashboard-card w-100'>
        <div class='dashboard-chart-container'>
            <canvas class="myChart"></canvas>
        </div>
    </div>
</div>