<div class='page profile-page'>
    <div class='dashboard-card w-100' style="padding: 1% 10% 4%;">
        <h2 class="dashboard-card-title" style="text-align: right">
            اطلاعات کاربری
        </h2>
        <div style="display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;">
            <div style="width: 50%; padding: 10px">
                <label>
                    نام
                    <input placeholder='مثال: محمد'/>
                </label>
            </div>
            <div style="width: 50%; padding: 10px">
                <label>
                    نام‌خانوادگی
                    <input placeholder='مثال: محمدی'/>
                </label>
            </div>
            <div style="width: 50%; padding: 10px">
                <label>
                    تلفن همراه
                    <input placeholder='مثال: 09123456789'/>
                </label>
            </div>
            <div style="width: 50%; padding: 10px">
                <label>
                    ایمیل
                    <input type="email" placeholder='مثال: example@gmail.com'/>
                </label>
            </div>
        </div>
    </div>
</div>